.logo-and-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
    text-align: justify;
    padding-top: 30px;
}

.about-comp-head{
    text-align: center;
}

.about-comp{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: whitesmoke;
}

.about-comp-logo{
    width: 220px;
    height: 220px;
}

.about-comp-txt{
    margin-left: 50px;
}