.cardimgtop{
    width: 220px;
    height: 220px;
}

.service-card{
    margin: 15px;
    width: 280px;
    border-width: 1px;
    border-color: black;
    padding: 20px;
    border-style: solid;
    border-radius: 5px;
    /* background-color:#F0F0F0 ; */
    background-color: #8db600;
}

.serv-buy-btn{
    background-color: white;
}

.serv-buy-btn:hover{
    background-color:bisque
}